body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(#eaebeb,#4bc5ceaf);
    background-attachment: fixed;
    /* background-image:linear-gradient(white,rgb(112, 112, 255)); */
    }
ul li a{
    text-decoration: none;
    border: 6px solid transparent;
    color: white;
    border-radius: 50px;
    transition: 200ms;
}
ul li a:hover{
    background-color: #7b68ee;
}
ul li{
    list-style-type: none;
    display: inline;
    margin: 3%;
}
.s{
    color:#f9DB24;
}
h2{
    color: #7b68ee;
}
header{
    width: 100%;
    height: auto;
    background-color: #0B162C;
    top:0;
    left:0;
    display: flex;
    position: fixed;
    justify-content: center;
}
.logo{
    width: auto;
    height: 100%;
    margin-top: 5px;
    color: #7b68ee;
}
.nav{
    width: 60%;
    height: 100%;
    text-align:center;
    padding-top: 1%;
    padding-bottom: 2%;
}
.logout{
    width:20%;
    height:100%;
}
.btn{
    margin-top:10%;
    margin-left: 27%;
    background-color: #5FC2BA;
    color: white;
    width: auto;
    height: 33%; 
    border-radius: 50px;
    cursor:progress;
    
}
label{
    margin-top:1%;
}
button{
    transition: 200ms;
    background-color: #5FC2BA;
    color: white;
    border-radius: 50px;
    border-color: transparent;
    
}
button:hover{
    transform: scale(1.2,1.2);
}